<div class="modal fade" id="redPos" tabindex="-1" role="dialog" aria-labelledby="redPosLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-pink">
                <h5 class="modal-title" id="exampleModalLabel">Rood - Positieve associatie</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body bg-black">
                De biologische effecten van rood zijn stimulerend en activerend. De kleur verhoogt de hartslag en ademhaling en wekt eetlust op. Rood is een warme kleur die aandacht trekt en geassocieerd wordt met het lichaam. De kleur van bloed is de kleur van leven, vitaliteit, energie, kracht en passie. Positieve associaties met rood zijn er ook volop op het gebied van liefde, passie en romantiek. Denk maar aan verleiding, sensualiteit, hartstocht en opwinding.
                Met het dragen van rode kleding geef je aan dat je lef hebt en dat je bereid bent je eigen spoor te trekken. In een overwegend rode kamer wordt je iets actiever.
            </div>
            <div class="modal-footer bg-red">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="redNeg" tabindex="-1" role="dialog" aria-labelledby="redNegLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-pink">
                <h5 class="modal-title" id="exampleModalLabel">Rood - Negatieve accociatie</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body bg-black">
                Negatieve associaties met rood zijn opdringen, agressie, macht, pijn en gevaar.
                Rood heeft letterlijk stopkracht, denk maar eens aan verkeersborden.
            </div>
            <div class="modal-footer bg-red">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="bluePos" tabindex="-1" role="dialog" aria-labelledby="bluePosLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-pink">
                <h5 class="modal-title" id="exampleModalLabel">Blauw - Positieve accociatie</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body bg-black">
                De kleur van de lucht en de zee, de lievelingskleur van veel mensen, wordt geassocieerd met rust en vrede. Het is een kleur die staat voor de geest, intelligentie en verstand. Blauw wordt gezien als de kleur van vertrouwen, duidelijke communicatie en betrouwbaarheid. Met blauwe kleding straal je evenwichtigheid, efficiëntie en stabiliteit uit. In een blauwe ruimte wordt je productief. Meer associaties op de kleur blauw zijn loyaal, geduldig, sympathiek, vriendelijkheid, waarheid.
                Door associaties met integriteit en oprechtheid wordt blauw veel gebruikt in zakelijke logo’s.
            </div>
            <div class="modal-footer bg-red">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="blueNeg" tabindex="-1" role="dialog" aria-labelledby="blueNegLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-pink">
                <h5 class="modal-title" id="exampleModalLabel">Blauw - Negatieve accociatie</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body bg-black">
                Negatieve accosiaties : conservatief, kalmte, koude, weinig emotioneel, status en macht.
            </div>
            <div class="modal-footer bg-red">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="yellowPos" tabindex="-1" role="dialog" aria-labelledby="yellowPosLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-pink">
                <h5 class="modal-title" id="exampleModalLabel">Geel - Positieve accociatie</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body bg-black">
                De kleur van de zon is een vrolijke opvallende kleur, die het brein, denkproces en zenuwstelsel stimuleert. Geel wordt geassocieerd met energie, zon, lente, zomer, een nieuw begin, levensplezier en geluk. Deze kleur stemt vrolijk en positief. Geel geeft focus en doelgerichtheid. Door de stimulatie van het brein staat de kleur voor kennis, wijsheid en volwassenheid, maar ook voor creativiteit en fantasie. Positieve associaties met geel zijn een gevoel van geluk, warmte, vreugde en blijdschap.
            </div>
            <div class="modal-footer bg-red">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="yellowNeg" tabindex="-1" role="dialog" aria-labelledby="yellowNegLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-pink">
                <h5 class="modal-title" id="exampleModalLabel">Geel - Negatieve accociatie</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body bg-black">
                Geel heeft ook zo zijn negatieve associaties. Denk bijvoorbeeld aan jaloezie, onbetrouwbaarheid, verraad en lafheid. Verblijven in een overwegend gele ruimte maakt onrustig, je verliest er snel je geduld.
            </div>
            <div class="modal-footer bg-red">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="greenPos" tabindex="-1" role="dialog" aria-labelledby="greenPosLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-pink">
                <h5 class="modal-title" id="exampleModalLabel">Groen - Positieve accociatie</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body bg-black">
                De kleur van de natuur ontspant het zenuwstelsel en onderdrukt honger. Groen kan de bloeddruk verlagen en is rustgevend. Daardoor wordt groen ook wel geassocieerd met genezing, gezondheid en balans. Groen is de kleur van verse producten, van vruchtbaarheid, voorjaar en nieuw leven. Het is een positieve kleur met associaties als balans, harmonie, evenwicht, vernieuwing, vertrouwen, veiligheid en voorspoed.
                Een groene ruimte geeft rust en ontspanning en verlicht nervositeit en angst. De kleur geeft de ruimte harmonie, balans en evenwicht. Zeer geschikt dus voor in de slaapkamer!
                Draag je groene kleding, dan zeg je dat je creatief denkt en bereid bent samen te werken.
            </div>
            <div class="modal-footer bg-red">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="greenNeg" tabindex="-1" role="dialog" aria-labelledby="greenNegLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-pink">
                <h5 class="modal-title" id="exampleModalLabel">Groen - Negatieve accociatie</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body bg-black">
                Negatieve associaties met groen zijn verveling, jaloersheid (groen van jaloezie zien), en weerstand.
            </div>
            <div class="modal-footer bg-red">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
