@{
    ViewData["Title"] = "Home Page 3";
}

<div class="container-fluid bg-grey round-borders">

    <div class="row">
        <div class="col-md-2 col-lg-2 col-sm-2">
            <h1 class="text-center">15</h1>
            <h2 class="text-center">mei</h2>
        </div>

        <div class="col-sm-9 col-md-9 col-lg-9">
            <div class="row">
                <div><h3>NRC LAB</h3></div>
            </div>

            <div class="row">
                <h4>Datavorsen, zoeken tussen meer dan 60 miljoen gegevens</h4>
            </div>

            <div class="row">
                <div class="col-4-img">
                    <img src="~/img/3818253300_a1db8b3bc1_o.jpg" class="card-img img-fluid" />
                </div>
                <div class="col-md-8">
                    <div class="row">60 Miljoen gegevens begrijpelijk presenteren is een kunst op zich. NRC speurt tussen treinvertrekken naar trens. Ditmaal een onderzoek naar de HSL. In deze blogpost leggen we uit hoe we de gegevens modelleren voordat we de getallen in grafieken kunnen zetten.</div>
                    <div class="row">
                        <a class="btn btn-outline-info" href="https://www.nrc.nl/nieuws/2015/05/15/datavorsen-zoeken-tussen-meer-dan-60-miljoen-gegevens-a1472605" target="_blank">Lees verder</a>
                    </div>
                </div>
            </div>

            <div class="row blog-bg-grey">
                <h5>Op 15 mei</h5>
            </div>

            <div class="row blog-bg-pink">
                <div>
                    <h4>Lees ook deze artikelen</h4>
                </div>

                <div class="row">
                    <div class="col-2-img">
                        <a class="stretched-link" href="https://www.nrc.nl/nieuws/2019/04/04/nooit-eerder-zoveel-bouwbedrijven-in-nederland-a3955780"><img src="~/img/gn4-24520444-43298340img-gn4-24520444-43298340.jpg" class="card-img img-fluid" /></a>
                    </div>
                    <div class="col-md-8">
                        <h6>BOUWSECTOR</h6>
                        <h3>Nooit eerder zoveel bouwbedrijven in Nederland</h3>
                        Het aantal bouwbedrijven groeide met 8 procent tot bijna 182 duizend. Er zijn steeds meer eenmansbedrijven bij gekomen.
                        <p><small class="datecolor">4 APRIL 2019</small></p>
                        <a class="stretched-link" href="https://www.nrc.nl/nieuws/2019/04/04/nooit-eerder-zoveel-bouwbedrijven-in-nederland-a3955780"></a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-2-img">
                        <a class="stretched-link" href="https://www.nrc.nl/nieuws/2019/03/29/in-syrie-was-hij-iemand-hier-heeft-archeoloog-ghazwan-een-tijdelijk-contract-a3955070"><img src="~/img/data42981812-1be54e.jpg" class="card-img img-fluid" /></a>
                    </div>
                    <div class="col-md-8">
                        <h6>GEVLUCHTE WETENSCHAPPERS</h6>
                        <h3>In Syrië wás hij iemand. Hier heeft archeoloog Ghazwan een tijdelijk contract</h3>
                        Archeoloog Ghazwan Yaghi was hoofddocent in Syrië. Na zijn vlucht lukte het hem een NWO-beurs te krijgen.
                        <p><small class="datecolor">29 MAART 2019</small></p>
                        <a class="stretched-link" href="https://www.nrc.nl/nieuws/2019/03/29/in-syrie-was-hij-iemand-hier-heeft-archeoloog-ghazwan-een-tijdelijk-contract-a3955070"></a>
                    </div>
                </div>
            </div>

        </div>
    </div>


</div>


