@{
    ViewData["Title"] = "Home Page 2";
}

<div class="container-fluid bg-grey round-borders">
    <div class="col-md-10 offset-md-1">
        <ol>
            <li>
                <p>
                    <strong>
                        Noem drie aspecten van kleur, en leg uit wat ze betekenen en hoe ze zichtbaar zijn in een afbeelding.
                        Maak hiervoor een ongeordende lijst, maak het aspect dikgedrukt, en geef je uitleg op een nieuwe regel.
                    </strong>
                </p>

                <ul>
                    <li>
                        <strong>Hue - Color</strong>
                        <p>
                            Hues denote qualities that can be differentiated by color words such as red, yellow, green, blue or purple. These properties we describe as hues are not independent entities in themselves but form part of a color continuum which, like a ring, has no beginning and no end but forms a seamless continuum. Between red and yellow there is an infinite number of colors possessing the elements of both these colors.
                            We refer to these intermediate colors as yellowish-red, reddish-orange, orange, yellowish-orange, reddish-yellow and so on. As hues change, so do their emotional expressions, shifting from warm to cool. This dimension concerns the "warmth" of colors.
                        </p>
                    </li>
                    <li>
                        <strong>Brightness</strong>
                        <p>
                            This describes the relative brightness of colors. As well as differentiating colors by their hues, we can express them as brighter or darker. Bright yellow is a pure bright color. Clear blue, though pure, is a darker color. The color of the sky is clear and bright, but olive has a color value that is dark. Color brightness increases as we go up from the bottom to the top of Figure. 1. Bright colors are crisp and refreshing, giving a pleasant, cheerful impression. Dark colors are heavy and subdued. This is the dimension of color "weighting."
                        </p>
                    </li>
                    <li>
                        <strong>Chroma - Brilliance</strong>
                        <p>
                            Apart from hue and brightness, colors can be differentiated by their brilliance or strength. Take the red color range. You may have the powerful glow of the red "sun" in the Japanese flag or a somber brick-red. The brownish-green that is the plumage color of the warbler is a dull yellow-green whereas foliage in the sunlight of early summer is a brilliant green. The brilliance or dullness of colors can be expressed in quantitative terms on the basis of chroma (C). A brilliant color stands out and strikes us as gorgeous. A dull color creates a quiet, subdued impression, the image we frequently associate with gentler, more refined colors. This is the dimension of color brilliance.
                        </p>
                    </li>
                </ul>
            </li>
            <li>
                <p>
                    <strong>
                        Noem vier kleurmodellen, leg uit wat iedere afkorting betekent, en licht toe in welk geval dit kleur-model toegepast kan worden.
                    </strong>
                </p>

                <ul>
                    <li>
                        <strong>CMYK</strong>
                        <p>
                            Cyan-Magenta-Yellow-blacK
                            <br />
                            Kleurmodel voor opvallend licht zoals gebruikt bij het afdrukken. Aan de primaire, zogeheten process-kleuren cyaan, magenta en geel wordt zwart toegevoegd om de weergave in de donkere partijen te verbeteren.
                        </p>
                    </li>
                    <li>
                        <strong>RGB</strong>
                        <p>
                            Red-Green-Blue
                            <br />
                            Afkorting van Red, Green, Blue, het kleurenmodel dat bestaat uit rood, groen en blauw licht. Bij elkaar opgeteld vormt het wit licht.
                            Dit wordt gebruikt voor beeldschermen.
                        </p>
                    </li>
                    <li>
                        <strong>CIE L*a*b*</strong>
                        <p>
                            Men kan soms ook het begrip CIE L*a*b* tegenkomen. Dit is een overkoepelend driedimensionaal model waarin alle andere modellen zijn opgenomen en dat is gebaseerd op de kleurperceptie van het menselijk oog. Het CIE staat voor Commission International de l`Eclairage, een onafhankelijke organisatie die ooit is ontstaan om de kleuren van verkeerslichten te standaardiseren.
                        </p>
                    </li>
                    <li>
                        <strong>Pantone</strong>
                        <p>
                            Een in Amerika ontworpen kleursysteem voor de grafische industrie waarbij een groot aantal kleuren van een vast nummer is voorzien.
                        </p>
                    </li>
                </ul>
            </li>
            <li>
                <p>
                    <strong>
                        Wat is het nut van een kleurenschema?
                    </strong>
                </p>
                <p>
                    Zeer waarschijnlijk ga je niet slechts één kleur gebruiken in jouw app design. In principe kan het, maar het is natuurlijk wel wat saai. Maar als je verschillende kleuren gaat kiezen is het natuurlijk zaak om er voor te zorgen dat deze perfect matchen. Er zijn vijf basis strategieën die je kunt volgen om er voor te zorgen dat de gekozen kleuren goed matchen:
                </p>
                <ol>
                    <li>
                        Monochroom: je kiest voor één kleur met lichtere en donkere varianten daarvan. Denk hierbij aan verschillende grijstinten. Maar ook alles van lichtgeel tot donkergeel.
                    </li>
                    <li>
                        Complementair: een strategie met twee kleuren die precies tegenover elkaar staan in het kleurenwiel. Zoals bijvoorbeeld groen en rood.
                    </li>
                    <li>
                        Analoog: je kiest kleuren die dicht bij elkaar liggen in het kleurenwiel. Zoals bijvoorbeeld rood en oranje of blauw en paars.
                    </li>
                    <li>
                        Driehoek: een strategie met drie kleuren die altijd in de vorm van een driehoek tot elkaar staan in het kleurenwiel. Is het een gelijkbenige driehoek dan wordt dit ook wel een ‘triadic’ kleurenschema genoemd, anders is er sprake van een ‘gespleten complementair’ kleurenschema.
                    </li>
                    <li>
                        Rechthoek: een vierkleuren strategie waarbij de kleuren in de vorm van een rechthoek (of vierkant) ten opzichte van elkaar staan in het kleurenwiel.
                    </li>
                </ol>
                <div class="container round-borders">
                    <img class="img-thumbnail" src="~/img/kleuren-strategie-klein.png" alt="schema met kleurstrategiëen">
                </div>
                
                
            </li>
            <li>
                <p>
                    <strong>
                        Wat is het kenmerk van een kleurenschema?
                    </strong>
                </p>
                <p>
                    Mooie kleurtjes...
                </p>
            </li>
            <li>
                <p>
                    <strong>
                        Maak een tabel met de kolommen ‘Kleur’, ‘Positieve associatie’ en ‘Negatieve associatie’, en werk de tabel uit voor de kleuren geel, groen, rood en blauw.
                    </strong>
                </p>
                <p>
                    <table class="table bg-pink round-borders text-center text-white">
                        <thead class="bg-red txt-black">
                            <tr>
                                <th>Kleur</th>
                                <th>Positieve associatie</th>
                                <th>Negatieve associatie</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Rood</td>
                                <td><input type="button" data-toggle="modal" data-target="#redPos" class="btn btn-outline-info" value="Klik voor meer uitleg" /></td>
                                <td><input type="button" data-toggle="modal" data-target="#redNeg" class="btn btn-outline-info" value="Klik voor meer uitleg" /></td>
                            <tr>
                                <td>Geel</td>
                                <td><input type="button" data-toggle="modal" data-target="#yellowPos" class="btn btn-outline-info" value="Klik voor meer uitleg" /></td>
                                <td><input type="button" data-toggle="modal" data-target="#yellowNeg" class="btn btn-outline-info" value="Klik voor meer uitleg" /></td>
                            </tr>
                            <tr>
                                <td>Groen</td>
                                <td><input type="button" data-toggle="modal" data-target="#greenPos" class="btn btn-outline-info" value="Klik voor meer uitleg" /></td>
                                <td><input type="button" data-toggle="modal" data-target="#greenNeg" class="btn btn-outline-info" value="Klik voor meer uitleg" /></td>
                            </tr>
                            <tr>
                                <td>Blauw</td>
                                <td><input type="button" data-toggle="modal" data-target="#bluePos" class="btn btn-outline-info" value="Klik voor meer uitleg" /></td>
                                <td><input type="button" data-toggle="modal" data-target="#blueNeg" class="btn btn-outline-info" value="Klik voor meer uitleg" /></td>
                            </tr>
                        </tbody>
                    </table>
                </p>
            </li>

            <partial name="ColorInfoPartial.cshtml" />

            <li>
                <p>
                    <strong>
                        Zoek een voorbeeld van een website waar op een goede manier gebruik is gemaakt van kleuren. Leg uit waarom dit zo is aan de hand van de termen kleurmodel en kleurenschema.
                        Maak een afbeelding van de site en voeg deze toe in je uitwerking. Maak hierbij de breedte 300px. De hoogte past automatisch aan.
                        Zorg dat als de gebruiker op de afbeelding klikt, een nieuw tabblad of venster opent met de volledige afbeelding.
                    </strong>
                </p>
                <p>
                    <div class="container-overlay col-3">
                        <img src="~/img/site_example.jpg" class="image img-thumbnail img-fluid" />
                        <input type="button" onclick="window.open('/img/site_example.jpg', '_blank');" value="Click for fullsize" class="middle btn btn-outline-dark btn-sm">
                    </div>
                </p>
            </li>
        </ol>
    </div>
</div>
